<div class="custom-code-up"></div>
<div *ngIf="active">
  <div class="ui-grid ui-grid-responsive ui-grid-pad">
    <div class="bs-panel">

        <div class="bs-square">
          <div class="ui-grid ui-grid-responsive ui-grid-pad" style="margin-bottom: 8px;">
            <label style="font-size:15px ;font-weight:bold ;color:#4d88c9  ">{{'Task information'}}</label>
            <div class="ui-g"><br/></div>
            <div>
              <div class="ui-g">
                  <div class="ui-g-0 ui-md-6 ui-lg-4">
                    <div class="ui-grid-col-4 app-form-label">
                      <label for="name">Name</label>
                    </div>
                    <div class="ui-inputgroup">
                      <input id="name" type="text" pInputText [(ngModel)]="bill.name" placeholder="Name">
                    </div>
                  </div>
                  <div class="ui-g-0 ui-md-6 ui-lg-4">
                    <div class="ui-grid-col-4 app-form-label">
                      <label for="recurrency">Recurrency</label>
                    </div>
                    <div class="ui-inputgroup">
                      <input id="recurrency" type="text" pInputText [(ngModel)]="bill.recurrency" placeholder="Recurrency">
                    </div>
                  </div>
                <div class="ui-g-0 ui-md-6 ui-lg-4">
                  <div class="ui-grid-col-4 app-form-label">
                    <label for="code">Code</label>
                  </div>
                  <div class="ui-inputgroup">
                    <input id="code" type="text" pInputText [(ngModel)]="bill.code" placeholder="Code">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="custom-up-actions">
          <button pButton type="button" [label]="'Sačuvaj'" (click)="saveBill()" [disabled]="(mode === 'view' ? true : false)"></button>
        </div>

    </div>
  </div>
</div>
