<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img id="assecoLogo" src="/assets/pictures/logo.png"></a>
    </div>
    <ul class="nav navbar-nav" routerLinkActive="active" navbar-right>
      <li class="nav-item"><a class="nav-link" routerLink="home">Home page</a></li>
      <li *ngIf="authority === 'user'" class="nav-item">
        <a class="nav-link" routerLink="user">Overview tasks</a>
      </li>
      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="auth/login">Log in</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" routerLinkActive="active">
      <li *ngIf="authority === 'admin' || authority === 'user'" class="nav-item">
        <a class="nav-link"><span class="glyphicon glyphicon-user"></span>&nbsp; {{username}}</a>
      </li>
      <li *ngIf="authority === 'admin' || authority === 'user'" class="nav-item">
        <a class="nav-link" routerLink="Logout" (click)="logout()"><span class="glyphicon glyphicon-log-in"></span>&nbsp; Exit</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
