<div class="custom-code-up"></div>

<span class="custom-up-actions">
  <button style="margin: 0%" id="btn-new-work-position-csc4290list" type="button" pButton (click)="create()" [pTooltip]="'Unos novog računa'" [label]="'Novi'"></button>
</span>

<p-table #dt1 [value]="bills" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,15]"
         [responsive]="true"
         [globalFilterFields]="['id','vrstaDobraUsluge','jedinicaMere','kolicina','poreskaOsnovica','sptopaPDV','iznosPDV','ukupnaNaknada']">

  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="30" [placeholder]="'Pretraga po svim parametrima'"
             (keyup.enter)="dt1.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 7%" [pSortableColumn]="'id'">{{'Broj računa'}}
        <p-sortIcon [field]="'id'"></p-sortIcon>
      </th>
      <th style="width: 36%; text-align: center " [pSortableColumn]="'vrstaDobraUsluge'">{{'VRSTA dobara/usluga'}}
        <p-sortIcon [field]="'vrstaDobraUsluge'"></p-sortIcon>
      </th>
      <th style="width: 8%" [pSortableColumn]="'jedinicaMere'">{{'Jedinica mere'}}
        <p-sortIcon [field]="'jedinicaMere'"></p-sortIcon>
      </th>
      <th style="width: 8%" [pSortableColumn]="'kolicina'">{{'Količine'}}
        <p-sortIcon [field]="'kolicina'"></p-sortIcon>
      </th>
      <th style="width: 8%" [pSortableColumn]="'cena'">{{'Cena po jedninici'}}
        <p-sortIcon [field]="'cena'"></p-sortIcon>
      </th>
      <th style="width: 8%" [pSortableColumn]="'poreskaOsnovica'">{{'Poreska osnovica'}}
        <p-sortIcon [field]="'poreskaOsnovica'"></p-sortIcon>
      </th>
      <th style="width: 8%" [pSortableColumn]="'sptopaPDV'">{{'Stopa PDV'}}
        <p-sortIcon [field]="'sptopaPDV'"></p-sortIcon>
      </th>
      <th style="width: 8%" [pSortableColumn]="'iznosPDV'">{{'Iznos PDV'}}
        <p-sortIcon [field]="'iznosPDV'"></p-sortIcon>
      </th>
      <th rowspan="2" style="text-align: center" class="action-col-header">{{'Akcije'}}
        <!--<span><i class="fa pi-filter" aria-hidden="true" (click)="filterTable();"></i></span>-->
        <!--<span><i class="fa fa-close" aria-hidden="true"></i></span>-->
      </th>
    </tr>

    <tr>
      <th>
        <input style="width: 95%;" pInputText [(ngModel)]="tfFilterMap['id']" type="text"
               (keyup.enter)="filterTable()">
      </th>
      <th>
        <input style="width: 95%;" pInputText [(ngModel)]="tfFilterMap['vrstaDobraUsluge']" type="text"
               (keyup.enter)="filterTable()">
      </th>
      <th>
        <input style="width: 95%;" pInputText [(ngModel)]="tfFilterMap['jedinicaMere']" type="text"
               (keyup.enter)="filterTable()">
      </th>
      <th>
        <input style="width: 95%;" pInputText [(ngModel)]="tfFilterMap['kolicina']" type="text"
               (keyup.enter)="filterTable()">
      </th>
      <th>
        <input style="width: 95%;" pInputText [(ngModel)]="tfFilterMap['cena']" type="text"
               (keyup.enter)="filterTable()">
      </th>
      <th>
        <input style="width: 95%;" pInputText [(ngModel)]="tfFilterMap['poreskaOsnovica']" type="text"
               (keyup.enter)="filterTable()">
      </th>
      <th>
        <input style="width: 95%;" pInputText [(ngModel)]="tfFilterMap['sptopaPDV']" type="text"
               (keyup.enter)="filterTable()">
      </th>
      <th>
        <input style="width: 95%;" pInputText [(ngModel)]="tfFilterMap['iznosPDV']" type="text"
               (keyup.enter)="filterTable()">
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-bill>
    <tr>
      <td><span class="ui-column-title">{{'Broj računa'}}</span>{{bill.id}}</td>
      <td><span class="ui-column-title">{{'Brsta dobara/usluga'}}</span>{{bill.vrstaDobraUsluge}}</td>
      <td><span class="ui-column-title">{{'Jedinica mere'}}</span>{{bill.jedinicaMere}}</td>
      <td><span class="ui-column-title">{{'Kolicina'}}</span>{{bill.kolicina}}</td>
      <td><span class="ui-column-title">{{'Cena po jedinici'}}</span>{{bill.kolicina}}</td>
      <td><span class="ui-column-title">{{'Poreska osnovica'}}</span>{{bill.poreskaOsnovica}}</td>
      <td><span class="ui-column-title">{{'Stopa PDV'}}</span>{{bill.sptopaPDV}}</td>
      <td><span class="ui-column-title">{{'iznosPDV'}}</span>{{bill.iznosPDV}}</td>
      <td class="action-col-cell"><span class="custom-row-actions">
        <button type="button" pButton  icon="pi pi-info" (click)="view(bill)"  [pTooltip]="'Pregled'"></button>
        <button id="deleteButton" type="button" pButton  icon="pi pi-times" (click)="showDeleteDlg(bill)"  [pTooltip]="'Brisanje'"></button>
      </span>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Brisanje računa" draggable="false" [draggable]="true" [resizable]="false" [(visible)]="displayDeleteDlg" [modal]="true"
          appendTo="body">
  <div>{{'Da li ste sigurni da zelite da obrišete račun prod rednim brojem - '}} {{billId}}<br/>
    <button pButton type="button" id="btn-delete-form-role-csc3760list" (click)="delete()"
            [label]="'Da'"></button>
    <button pButton type="button" (click)="cancelDelete()" [label]="'Ne'"></button>
  </div>
</p-dialog>
