
<div *ngIf="info.token; else loggedOut" class="container">
  <div class="row">
    <div class="col-md-10 ">
      <fieldset>
        <legend>Overview of tasks</legend>
      </fieldset>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card card-w-title">
        <p-tabView (onChange)="onTabChange($event)" id="tabView0">
          <p-tabPanel [header]="'Task overview'" [selected]="tabIndex == 0"
                      *ngIf="tab000" id="tab000">
            <app-view-bills (billsEvent)="billsListEvent($event)"></app-view-bills>
          </p-tabPanel>
          <p-tabPanel [header]="'View task details'" [selected]="tabIndex == 1"
                      *ngIf="tab001" id="tab001">
            <app-detail-bill (billDetailEvent)="billDetailEvent($event)"></app-detail-bill>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <div align="center">
    <img src="/assets/pictures/Asseco-logo.png" alt="">
  </div>
  <hr>
  <div align="center"><h1>Aplikacija za evidedntiranje izdatih računa</h1></div>
</ng-template>


