
<div *ngIf="info.token; else loggedOut" class="container">
  <div class="row">
    <div class="col-md-10 ">
      <fieldset>
        <legend>Overview of tasks</legend>
      </fieldset>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card card-w-title">
        <p-tabView (onChange)="onTabChange($event)" id="tabView0">
          <p-tabPanel [header]="'Task overview'" [selected]="tabIndex == 0"
                      *ngIf="tab000" id="tab000">
            <app-view-scheduler-task (schedulerTasksEvent)="schedulerTasksListEvent($event)"></app-view-scheduler-task>
          </p-tabPanel>
          <p-tabPanel [header]="'View task details'" [selected]="tabIndex == 1"
                      *ngIf="tab001" id="tab001">
            <app-detail-scheduler-task (schedulerTaskDetailEvent)="schedulerTaskDetailEvent($event)"></app-detail-scheduler-task>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <div align="center">
    <img style="width: 30%" src="/assets/pictures/logo.png" alt="">
  </div>
  <hr>
  <div align="center"><h1>Scheduler application</h1></div>
  <footer class="section footer">
    <div class="footer-bottom" align="center">
      <div class="container">
        <div class="col-md-12">
          <br/>
          <p>Dejan Uljarević</p>
          <p>© Copyright 2020.</p>
        </div>
      </div>
    </div>
  </footer>
</ng-template>


