<div *ngIf="info.token; else loggedOut">

  <div class="container">
    <div class="row">
      <div class="col-md-10 ">
        <fieldset>

          <legend>User information</legend>

          <div class="ui-g-0 ui-md-6 ui-lg-4">
            <div class="ui-grid-col-6 app-form-label">
              <label for="name">Username</label>
            </div>
            <div class="ui-inputgroup">
              <input id="name" type="text" pInputText [(ngModel)]="info.username" placeholder="Username">
            </div>
          </div>

          <div class="ui-g-0 ui-md-6 ui-lg-4">
            <div class="ui-grid-col-6 app-form-label">
              <label for="username">User role</label>
            </div>
            <div class="ui-inputgroup">
              <input id="username" type="text" pInputText [(ngModel)]="info.authorities" placeholder="Username">
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <div align="center">
    <img style="width:30%" src="/assets/pictures/logo.png" alt="">
  </div>
  <hr>
  <div align="center"><h1>Scheduler Application</h1></div>

  <footer class="section footer">
    <div class="footer-bottom" align="center">
      <div class="container">
        <div class="col-md-12">
          <br/>
          <p>Dejan Uljarević</p>
          <p>© Copyright 2020.</p>
        </div>
      </div>
    </div>
  </footer>

</ng-template>
